
<div class="question-title">
    <span ui-sref="incorrect" class="cursor-pointer">16</span>. <span ui-sref="incorrect" class="cursor-pointer">Sixteen?</span>
</div>

<p class="text-under-question-title">16 * 16 / 16 + 16 - 16?</p>
<br>
<p class="text-under-question-title-2">Hint: The answer is <span class="cursor-pointer"ui-sref="incorrect">16</span>...</p>
<div class="container-question-16">
    <div class="question-16-divider">
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
    </div>
    <div class="question-16-divider">
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
    </div>
    <div class="question-16-divider">
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
    </div>
    <div class="question-16-divider">
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ui-sref="incorrect">16</div>
        <div class="cursor-pointer" ng-click="goto17()">16</div>
    </div>
</div>