*
{
    margin: 0px;
}
.trump-wrong-container
{
    height: 65vh;
    width: 34%;
    margin-left: 34%;
    text-align: right;
    font-family: 'Schoolbell';
    font-size: 64px;
    letter-spacing: 5px;
    text-align: center;
}
.you-lose-container
{
    height: 25vh;
    width: 100%;
    text-align: center;
    font-family: 'Schoolbell';
    font-size: 64px;
    bottom: 0;
}
.left-container
{
    height: 75vh;
    width: 33%;
    float: left;
}
.right-container
{
    height: 75vh;
    width: 33%;
    float: right;
}
.incorrect-button
{
    height: 7vh;
    width: 30%;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-family: 'Schoolbell';
    font-size: 2vw;
}
.center-button
{
    display: flex;
    justify-content: center;

}