<div class="container">
    <h1 class="question-title"> 13. PUT THE MOUSE ......</h1>
    <h1 class="question-13-title-text">.... ON <span class="question-13-title-text" ng-mouseover="hoverRight()">HERE</span></h1>
</div>
    <div class="container">
        <div class="arrow">
    <div class="arrow-stick"></div>
    <div class="arrow-head"></div>
        </div>
        <br>
    <div class="target-circle-1">
        <div class ="target-circle-2">
            <div class="target-circle-3">
                <div class="target-circle-4">
                    <div class="target-circle-5">
                        <div class="target-circle-6">
                            <div class="target-circle-7">
                                <div class="target-circle-8">
                                    <div ng-mouseover = "hoverWrong()"class="target-circle-9"></div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    </div>