<h1 class="question-title">Instructions</h1>
<br>
<p class="body-text">Answer each question correctly to move to the next one, sounds fairly simple right? 
   Well not really, some of these questions require you to think outside of the box, and others may be completely down to guessing. 
   This quiz will be quite annoying and most definetly a waste of valuable time...
   It may seem difficult but it is not impossible!!</p>
<img ui-sref="home" src="http://www.pngmart.com/files/3/Left-Arrow-PNG-HD.png" class="home-arrow">